doctype 5
html(lang="en")
    head
        title The Mizidy Project
        link(rel="stylesheet", href="https://use.fontawesome.com/44649b5dd8.css")
        link(rel="stylesheet", href="styles/main.css")
    body
        div.container
            include snippets/header.jade
            include snippets/playlist.jade
