#playlist
    background-color: $grey
    .song
        display: flex
        border-bottom: 1px solid black
        justify-content: flex-end
        .btn-play
            display: inline-block
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
            margin: .1em
            margin-right: .3em
            align-self: center
            font-size: 4em
            color: $white
        .track
            display: flex
            align-items: center
            justify-content: center
            font-size: 2em
            color: dimgrey
            margin: .1em
            background-color: $white
.playlist-out
    animation: playlist-out .1s ease-in
.playlist-in
    animation: playlist-in .2s ease-in-out
@keyframes playlist-out
    0%
        transform: translate(0,0)
        overflow: hidden
    100%
        transform: translate(0%,300%)
        overflow: hidden
@keyframes playlist-in
    0%
        transform: translate(0%,300%)
        overflow: hidden
        opacity: 0
    100%
        transform: translate(0,0)
        overflow: hidden
        opacity: 1
